@import 'clean.css';
@import 'main.css';
@import 'squircle.css';

pre {
    --border-radius: 1em;
	--border-size: 4px;
    --border-color: #c00;
    --border-background: #333;
}

.your-class {
    --border-radius: 3em;
    --border-size: 10px;
    --border-color: #333;
    --border-background: #c00;
}
