body {
    background: #f7f7f7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-content: center;
}

guder-oval {
    background: linear-gradient(.45turn, #f90, #000); 
    width: 50vw; 
    height: 50vh;
}

div {
    filter: drop-shadow(0 0 1vh #0008) drop-shadow(2vh 4vh 4vh #000) drop-shadow(4vh 8vh 8vh #0004);
}
