html {
    background: #f7f7f7;
    color: #f7f7f7;
    font-size: 22px;
    padding: 1em;
}

body, main {
    display: flex;
    flex-direction: column;
}
main {
    align-items: stretch;
    padding: 2em;
}

body {
    align-items: center;
    margin: auto;
}

pre {
    margin: 1em 0;
    padding: 1em;
    background: #333;
}

p {
    color: #111;
    align-self: flex-start;
}
