:root {
	--border-radius: 2em;
	--border-size: 10px;
    --border-color: #c00;
    --border-background: #333;
}

.rounded, .bordered::before {
    mask-repeat: no-repeat;

    mask-image:
		url(https://www.dommandy.com/super-rect/filler.png),
		url(https://www.dommandy.com/super-rect/filler.png),
		url(https://www.dommandy.com/super-rect/nw.png),
		url(https://www.dommandy.com/super-rect/ne.png),
		url(https://www.dommandy.com/super-rect/se.png),
		url(https://www.dommandy.com/super-rect/sw.png);
}
.rounded {
	mask-position:
		top var(--border-radius) left 0,
		top 0 left var(--border-radius),
		top 0 left 0,
		top 0 right 0,
		bottom 0 right 0,
		bottom 0 left 0;

	mask-size: 
		100% calc(100% - 2 * var(--border-radius)), 
		calc(100% - 2 * var(--border-radius)) 100%, 
		var(--border-radius), 
		var(--border-radius), 
		var(--border-radius), 
		var(--border-radius);
}
.rounded {
    position: relative;
}
.bordered {
    background: var(--border-color);
}
.bordered::before {
    position: absolute;
    content: '';
	top: var(--border-size);
	left: var(--border-size);
	width: calc(100% - 2 * var(--border-size));
	height: calc(100% - 2 * var(--border-size));
    background: var(--border-background);

    z-index: -10;

    mask-position:
		top calc(var(--border-radius) - var(--border-size)) left 0,
		top 0 left calc(var(--border-radius) - var(--border-size)),
		top 0 left 0,
		top 0 right 0,
		bottom 0 right 0,
		bottom 0 left 0;
    
    mask-size: 
		100% calc(100% - 2 * (var(--border-radius) - var(--border-size))), 
		calc(100% - 2 * (var(--border-radius) - var(--border-size))) 100%, 
		calc(var(--border-radius) - var(--border-size)), 
		calc(var(--border-radius) - var(--border-size)), 
		calc(var(--border-radius) - var(--border-size)), 
		calc(var(--border-radius) - var(--border-size));
}