:root {
	--border-radius: .1em;
	--border-size: 4px;
    --border-color: #c00;
    --border-background: #333;
    --overlap: 1px;
}

.rounded, .bordered::before {
    mask-repeat: no-repeat;

    mask-image:
		url(https://www.dommandy.com/super-rect/filler.png),
		url(https://www.dommandy.com/super-rect/filler.png),
		url(https://www.dommandy.com/super-rect/nw.png),
		url(https://www.dommandy.com/super-rect/ne.png),
		url(https://www.dommandy.com/super-rect/se.png),
        url(https://www.dommandy.com/super-rect/sw.png);
        
    -webkit-mask-repeat: no-repeat;

    -webkit-mask-image:
		url(https://www.dommandy.com/super-rect/filler.png),
		url(https://www.dommandy.com/super-rect/filler.png),
		url(https://www.dommandy.com/super-rect/nw.png),
		url(https://www.dommandy.com/super-rect/ne.png),
		url(https://www.dommandy.com/super-rect/se.png),
		url(https://www.dommandy.com/super-rect/sw.png);
}
.rounded {
	mask-position:
		top calc(var(--border-radius) - var(--overlap)) left 0,
		top 0 left calc(var(--border-radius) - var(--overlap)),
		top 0 left 0,
		top 0 right 0,
		bottom 0 right 0,
		bottom 0 left 0;

	mask-size: 
		100% calc(100% - 2 * var(--border-radius) + 2 * var(--overlap)), 
		calc(100% - 2 * var(--border-radius) + 2 * var(--overlap)) 100%, 
		var(--border-radius), 
		var(--border-radius), 
		var(--border-radius), 
        var(--border-radius);
        
    -webkit-mask-position:
		top calc(var(--border-radius) - var(--overlap)) left 0,
		top 0 left calc(var(--border-radius) - var(--overlap)),
		top 0 left 0,
		top 0 right 0,
		bottom 0 right 0,
		bottom 0 left 0;

	-webkit-mask-size: 
		100% calc(100% - 2 * var(--border-radius) + 2 * var(--overlap)), 
		calc(100% - 2 * var(--border-radius) + 2 * var(--overlap)) 100%, 
		var(--border-radius), 
		var(--border-radius), 
		var(--border-radius), 
        var(--border-radius);
}
.rounded {
    position: relative;
}
.bordered {
    background: var(--border-color);
}
.bordered::before {
    position: absolute;
    content: '';
	top: var(--border-size);
	left: var(--border-size);
	width: calc(100% - 2 * var(--border-size));
	height: calc(100% - 2 * var(--border-size));
    background: var(--border-background);

    z-index: -10;

    mask-position:
		top calc(var(--border-radius) - var(--border-size) - var(--overlap)) left 0,
		top 0 left calc(var(--border-radius) - var(--border-size) - var(--overlap)),
		top 0 left 0,
		top 0 right 0,
		bottom 0 right 0,
		bottom 0 left 0;
    
    mask-size: 
		100% calc(100% - 2 * (var(--border-radius) - var(--border-size)) + 2 * var(--overlap)), 
		calc(100% - 2 * (var(--border-radius) - var(--border-size)) + 2 * var(--overlap)) 100%, 
		calc(var(--border-radius) - var(--border-size)), 
		calc(var(--border-radius) - var(--border-size)), 
		calc(var(--border-radius) - var(--border-size)), 
        calc(var(--border-radius) - var(--border-size));
        
    -webkit-mask-position:
		top calc(var(--border-radius) - var(--border-size) - var(--overlap)) left 0,
		top 0 left calc(var(--border-radius) - var(--border-size) - var(--overlap)),
		top 0 left 0,
		top 0 right 0,
		bottom 0 right 0,
		bottom 0 left 0;
    
    -webkit-mask-size: 
		100% calc(100% - 2 * (var(--border-radius) - var(--border-size)) + 2 * var(--overlap)), 
		calc(100% - 2 * (var(--border-radius) - var(--border-size)) + 2 * var(--overlap)) 100%, 
		calc(var(--border-radius) - var(--border-size)), 
		calc(var(--border-radius) - var(--border-size)), 
		calc(var(--border-radius) - var(--border-size)), 
        calc(var(--border-radius) - var(--border-size));
}