body {
    position: fixed;
    inset: 0;

    color: grey;
    background: skyblue;

    filter: drop-shadow(1vh 2vh 3vh);

    display: grid;
    grid: 
        'search menu' 1fr
        '.      .   ' 1fr
        '.      .   ' 1fr;
    place-items: center;
}

body::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 33vh;
    background: linear-gradient(inherit, #000);
}

.ui {
    width: 20vh;
    height: 20vh;
    color: black;
    font-size: 10vh;
    background: lightcyan;
}

.menu {
    grid-area: menu;
}

.search {
    grid-area: search;
}

.circular {
    color: darkorange;
}

.hyperbolic {
    color: royalblue;
}

.function {
    color: black;
}
