body {
    color: grey;
    background: snow;
}

squoval-mask {
    position: fixed;
    inset: 0;
    margin: auto;

    width: 50vmin; 
    height: 50vmin;
    background: black; 
}

.circular::after {
    color: darkorange;
    content: '`{:(cos t), (sin t):}`';
}

.hyperbolic::after {
    color: royalblue;
    content: '`|(csc t), (sec t)|`';
}
