@import 'anicons.css';

:root {
    background: snow;
}

body {
    position: fixed;
    inset: 0;

    color: grey;
    background: skyblue;

    
    display: grid;
    grid: 
    'nav nav' 1fr
    '.   .   ' 1fr
    '.   .   ' 1fr;
    place-items: center;
    
    margin: 0;
}

nav {
    grid-area: nav;
    filter: drop-shadow(1vh 1vh 2vh black);
    width: 100%;
    height: 100%;
    display: grid;
    grid: 'search menu' 1fr;
    place-items: center;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: linear-gradient(#87ceeb00, #024c);
}

.ui {
    width: 20vh;
    height: 20vh;
    color: #111;
    font-size: 12vh;
    position: relative;
    background: snow;
    transition: .4s;
    transition-property: background, font-variation-settings;
    font-family: Anicons Regular;
    font-variation-settings: "TIME" 1;
}

.ui > squoval-mask {
    position: absolute;
    inset: 1vh;
    background: skyblue;
}

.ui:hover {
    color: black;
    background: white;
    font-variation-settings: "TIME" 100;
    cursor: pointer;
}

button {
    all: unset;
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
}

.menu {
    grid-area: menu;
}

.search {
    grid-area: search;
}

.circular {
    color: darkorange;
}

.hyperbolic {
    color: royalblue;
}

.function {
    color: black;
}
