body {
    display: flex;
    justify-content: center;
    align-items: center;
}
div {  
    border-radius: 20px;
    padding: 10em;
    background: red;
}
@supports (background: paint(id)) {
  div {
    border-radius: 0;
    mask-image: paint(corner-shape);
    --corner-radius: 56px;
    --corner-shape: scoop;
  }
}