@import 'https://fonts.googleapis.com/css2?family=Rubik:wght@300;800&display=swap';
@import '../site/anicons/anicons.css';
@import '../site/time-line.css';

button {
    all: unset;
}

body {
    background: url(./favicon.png);

    position: fixed;
    inset: 0;

    display: grid;
    grid: 
    'head head' 1fr
    'butt butt' 1fr
    'butt butt' 1fr
    'foot foot' 1fr
    ;

    place-items: center;
    
    margin: 0;

    animation: blur .4s both;
}

footer {
    grid-area: foot;
}

h1 {
    grid-area: head;
    font-family: 'Rubik', sans-serif;
    font-size: 5vh;
    font-weight: 300;
    color: black;
}

h1::after {
    content: 'squoval';
}

main {
    z-index: -1;
    position: fixed;
    inset: 0;
    background: linear-gradient(#fff, #fffffffb);
}

squoval-button {
    grid-area: butt;
    font-size: 5vh;
    font-weight: 800;
    padding: .6em;
    letter-spacing: .06em;
    background: darkred;
    color: snow;
    position: relative;
    font-family: 'Rubik', sans-serif;
    transition: .4s;
    transition-property: color, background;
    display: grid;
    place-content: center;
}

squoval-button::after {
    content: 'Coming Soon';
}

/* .enter:hover {
    color: black;
    background: salmon;
    cursor: pointer;
} */

/* .enter:active {
    background: black;
    color: white;
} */

nav {
    grid-area: nav;
    width: 100%;
    height: 100%;
    display: grid;
    grid: 'search menu' 1fr;
    place-items: center;
}

.ui {
    width: 18vh;
    height: 18vh;
    color: darkslategrey;
    font-size: 10vh;
    position: relative;
    display: grid;
    place-content: center;
    transition: .4s;
    transition-property: background, font-variation-settings, color;
    font-family: Anicons Regular;
    font-variation-settings: "TIME" 1;
}

@keyframes blur {
    0% {
        filter: blur(6vh);
    }

    100% {
        filter: blur(0);
    }
}

.ui:hover {
    background: salmon;
    color: black;
    font-variation-settings: "TIME" 100;
    cursor: pointer;
}

.ui:active {
    background: black;
    color: white;
    font-variation-settings: "TIME" 0;
}

.menu {
    grid-area: menu;
}
.menu::after {
    content: 'E';
}

.search {
    grid-area: search;
}
.search::after {
    content: '9';
}

.circular {
    color: darkorange;
}

.hyperbolic {
    color: royalblue;
}

.function {
    color: black;
}
